h2 {
	color: #100f10;
	position: relative;
	text-transform: uppercase;
	-webkit-text-stroke: 0.3vw #f7f7fe;
}

h2::before {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: rgba(71, 17, 17, 0.56);
	overflow: hidden;
	position: absolute;
	content: attr(data-text);
	border-right: 2px solid rgba(28, 21, 2, 0.48);
	-webkit-text-stroke: 0vw #f7f7fe;
	animation: animate 10s linear infinite;
}

@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}

	70%,
	90% {
		width: 100%;
	}
}
